footer.bg-white.has-parallax
  .container
    .footer-shape.parallax-object(data-invert,data-offset=50)
      img.img-responsive(src='/img/tiny/footer-shape.png',alt='footer shape')
    .row
      .footer-logo.col-xs-12.col-sm-6.col-md-offset-2.col-md-3.mg-bottom-2.no-mg-bottom-md
        a.center-block(href='/')
          img(src='/img/tiny/LOGO.png', alt='logo McGill', width=183, height=68)
      .footer-cta.col-xs-12.col-sm-6.col-md-2.mg-bottom-2.no-mg-bottom-md
        a.btn.btn-green.text-uppercase(href='#') Donate
      .footer-infos.col-xs-12.col-md-offset-1.col-md-3.text-small
        .footer-socials-block
          h4.weight-700.text-uppercase Follow Us
          .footer-socials
            a.btn-social(href="#facebook")
              img(src='/img/tiny/icon-fb.png', alt='icon facebook', width=30, height=30)
            a.btn-social(href="#twitter")
              img(src='/img/tiny/icon-tw.png', alt='icon twitter', width=30, height=30)
        .footer-links-block.mg-top-2
          h4.weight-700.text-uppercase Quick Links
          .footer-links
            a(href="#") How to participate
            a(href="#") Sponsorship and Donation
            a(href="#") The Gala
        .footer-contact-block.mg-top-2
          h4.weight-700.text-uppercase Contact Us
          .footer-contact
            p.footer-address 1160, Pine Avenue West<br/>Room 602<br/>Montreal, QC Canada H3A 1A3
            p.footer-telephone
              strong Tel
              span 514 398-3535
            p.footer-donations
              strong Donations
              span 514 398-1408