nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        img(src='/img/tiny/LOGO.png', alt='logo McGill', width=183, height=68)
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li(class=(superTitle == 'gcrc') ? 'active' : null)
          a.text-uppercase.weight-500(href='/gcrc') MCGILL UNIVERSITY GCRC
        li(class=(superTitle=='gala'?'active':null))
          a.text-uppercase.weight-500(href='/gala') The GALA
        li(class=(superTitle == 'focus') ? 'active' : null)
          a.text-uppercase.weight-500(href='/focus') 2018 FOCUS
        li
          a.text-uppercase.weight-500(href='https://vimeopro.com/digitaleclipsetv/mcgill-gala-2018/',target='_blank') VIDEOS
        li
          a.btn.btn-green(href='https://www.alumni.mcgill.ca/give/?allocations=05537-05729-05754-06387-06462-06463&new=1',target='_blank') DONATE
        li.dropdown
            a#langMenu.text-uppercase.weight-500.dropdown-toggle(type="button",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") EN
            .dropdown-menu(aria-labelledby="langMenu")
              a.dropdown-item EN
              a.dropdown-item FR