section.hero.bg-gradient-pink.has-parallax
    .hero-shape.parallax-object
        img.img-responsive(src='/img/tiny/hero-shape.png',alt='hero shape')
    .container.text-center
        p.text-large.weight-600.text-uppercase.mg-bottom McGill Rosalind and Morris Goodman<br/>Cancer Research Centre
        span.hero-present.text-small.weight-500.text-uppercase.center-block.mg-bottom Presents
        h1.hero-title.weight-900.mg-bottom.no-mg-top 2018 <br class="visible-xs"/> GALA
            span.hero-title-article.weight-700 THE
        p.hero-date.text-small.weight-500.text-uppercase.no-mg-top.mg-bottom-2 Wednesday, June 6, 2018
        p.hero-place.weight-500.no-mg McGill University, Lower Campus
