nav.navbar.navbar-secondary
  .container.text-center
      ul.nav.navbar-nav
        li(class=(pageID=='details'?'active':null))
          a.text-uppercase.weight-600(href='/gala/details') Gala Details
        li(class=(pageID == 'committee') ? 'active' : null)
          a.text-uppercase.weight-600(href='/gala/committee') 2018 Committee
        li(class=(pageID == 'sponsors') ? 'active' : null)
          a.text-uppercase.weight-600(href='/gala/sponsors') Sponsors And Donors