section.sections-sponsors.bg-grey
    .container.text-center
        h2.text-black.mg-bottom-3 Our Sponsors
        .row
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
            .col-xs-6.col-sm-4.col-md-3
                img.img-responsive.center-block.logo-sponsor.mg-bottom-3(src='/img/tiny/logo-sponsor.png',alt='logo sponsor')
