extends layout

block content
    section.focus-section1.pre-footer.has-parallax
        .parallax-bckgrd.parallax-mg-1-5(data-invert)
    section.focus-section2.bg-white
        .container
            .row
                .col-xs-offset-1.col-xs-10.col-md-8
                    h2.mg-bottom Our focus
                    p.mg-bottom-2
                        strong.text-large The biennial Goodman Cancer Research Gala, one of the largest and most prestigious events on Montreal’s social calendar, raises much-needed funds to support innovative cancer research at the Rosalind and Morris Goodman Cancer Research Centre (GCRC) at McGill University.
                    p.mg-bottom This year’s Gala supports the Centre’s participation in the innovative <strong>Lung Cancer Network: Collaborate to Cure</strong>
                    a.btn.btn-green.text-uppercase Learn More
    section.focus-section3.bg-grey
        .container.has-parallax
            .row
                .col-xs-12.col-md-8.bg-white
                    .row
                        .col-xs-offset-1.col-xs-10.col-md-7.col-lg-8.over-parallax
                            h2.mt-top-2.mg-top-5-md.mg-bottom-2 The<br/>Lung Cancer<br/>Network:<br/>Collaborate<br/>to Cure
                            a.btn.btn-green.text-uppercase.mg-bottom-3.mg-bottom-9-md(href='https://vimeopro.com/digitaleclipsetv/mcgill-gala-2018/video/253310308', target='_blank') Learn More
            .video-container.parallax-object(data-speed=2.5,data-offset=-400)
                a.center-block.btn-play(href='https://vimeopro.com/digitaleclipsetv/mcgill-gala-2018/video/253310308', target='_blank')
                    span.center-block
                        i.glyphicon.glyphicon-play
                img.img-responsive(src='/img/tiny/focus-lungcancer.jpg',alt='video lung cancer',width=784,height=440)
    section.focus-section4.bg-white
        .container
            .row
                .col-xs-offset-1.col-xs-10.col-md-8
                    h2.mg-bottom The Lung Cancer<br/>Network is a<br/>paradigm-shifting<br/>initiative
                    strong.block.text-large.mg-bottom-2 that that brings together local clinical and research institutions dedicated to treating this disease.
                    p.mg-bottom The Goodman Cancer Research Centre is proud to play a central role in this network by delivering research outcomes supported by advanced technological platforms and highly trained research professionals. 
                    p.mg-bottom-2
                        strong Through collaboration, we are able to leverage knowledge, expertise, resources and strategies, and multiply successes. 
                    strong.block.mg-bottom The Lung Cancer Network will 
                    ul
                        li.mg-bottom facilitate collaboration among basic and clinician scientists, clinicians and patients leading to new approaches to understand lung cancer in the non-smoking population
                        li.mg-bottom improve prevention, diagnosis and treatments for lung cancer
                        li.mg-bottom become one of the premier lung oncology networks with local national and international partnerships
                    p The network’s core activities include state-of-the-art diagnosis and treatment, specialized diagnostic tests, cutting-edge translational research in lung cancer treatment and expanding the cancer biorepository, as well as crucial clinical trial networks and metrics centered on improving outcomes. 


