extends layout

block content
  section.galaDetails-section1.bg-grey
    .container.has-parallax
      .row
        .col-xs-12.col-md-8.bg-white
          .row
            .col-xs-offset-1.col-xs-10.col-md-7.col-lg-8
              span.block.text-uppercase.text-large.mg-top-3 Celebrating
              h2.mg-top.mg-bottom The<br/>Lung Cancer<br/>Network:<br/>Collaborate<br/>to Cure
              p The biennial Goodman Cancer Research Gala, one of the largest and most prestigious events on Montreal’s social calendar, raises much-needed funds to support innovative cancer research at the Rosalind and Morris Goodman Cancer Research Centre (GCRC) at McGill University.
              p.mg-bottom-2 This year, we celebrate a major milestone in the evolution of the Centre: its central contribution to the innovative <strong>Lung Cancer Network</strong>.
              strong.block.text-large Event highlights
              p.mg-bottom-3 5:30 PM Cocktails<br/>Followed by dinner And entertainment
      .photo-container.parallax-object(data-speed=2.5,data-offset=-400)
        img.img-responsive(src='/img/tiny/galaDetails-celebratingphoto.jpg',alt='photo celebrating',width=540,height=440)
  section.galaDetails-section2.bg-white
    .container
      .row
        .col-xs-offset-1.col-xs-10
          h2.no-mg-top.mg-bottom-3 How to<br/>Participate
      .row
        .col-xs-offset-1.col-xs-10.col-sm-4
          strong.text-large To attend
          p Please contact<br/>&lt;name&gt;<br/><a href="mailto:name@address.ca" class="text-green" target="_blank">address.ca</a><br/>514 000-0000
        .col-xs-offset-1.col-xs-10.col-sm-6
          strong.text-large Sponsorships and Donations
          p.mg-bottom-2 Gala sponsorships can be purchased by contacting<br/><a href="mailto:name@address.ca" class="text-green" target="_blank">address.ca</a>
          p.mg-bottom Donations of gifts-in-kind that directly underwrite costs associated with the 2018 Gala are welcome. All business/tax receipts will be issued in accordance with CRA guidelines. 
          p For donation enquiries, please contact<br/><a href="mailto:name@address.ca" class="text-green" target="_blank">address.ca</a>
  section.galaDetails-section3.pre-footer.has-parallax
    .parallax-bckgrd.parallax-mg-1-5(data-invert)
