extends layout

block content
  section.galaCommittee-section1.bg-grey
    .container.has-parallax
      .row
        .col-xs-12.col-md-8.bg-white
          .row
            .col-xs-offset-1.col-xs-10.col-md-7.col-lg-8
              span.block.text-uppercase.text-large.mg-top-3 2018 Committees
              h2.mg-top.mg-bottom-2 Goodman<br/>Cancer Research<br/>Center Adivisory<br/>Board 
              p
                strong.block.text-large David Goodman
                span.block Chairman 
              p
                strong.text-large Roberto Bellini 
              p
                strong.text-large Michael Corber 
              p
                strong.text-large Pierre-Marc Johnson 
              p
                strong.text-large Claude Lamoureux 
              p
                strong.text-large Dominique McCaughey 
              p
                strong.text-large Jonathan Wener 
              p
                strong.text-large Martin Wong 
              p.mg-bottom-2.mg-bottom-4-md
                strong.text-large Morag Park 
      .photo-container.parallax-object(data-speed=2.5,data-offset=-400)
        img.img-responsive(src='/img/tiny/galaDetails-celebratingphoto.jpg',alt='photo celebrating',width=540,height=440)
  section.galaCommittee-section2.bg-white
    .container
      .row
        .col-xs-offset-1.col-xs-10
          h2.no-mg-top.mg-bottom-3 Volunteers
      .row
        .col-xs-offset-1.col-xs-10.col-sm-3
          ul.list-unstyled.no-mg
            li.mg-bottom--5 Roberto Bellini 
            li.mg-bottom--5 Michael Corber 
            li.mg-bottom--5 Pierre-Marc Johnson 
            li.mg-bottom--5 Claude Lamoureux 
            li.mg-bottom--5 Dominique McCaughey 
            li.mg-bottom--5 Jonathan Wener 
            li.mg-bottom--5 Martin Wong 
            li.mg-bottom--5 Morag Park 
        .col-xs-offset-1.col-xs-10.col-sm-3
          ul.list-unstyled.no-mg
            li.mg-bottom--5 Roberto Bellini 
            li.mg-bottom--5 Michael Corber 
            li.mg-bottom--5 Pierre-Marc Johnson 
            li.mg-bottom--5 Claude Lamoureux 
            li.mg-bottom--5 Dominique McCaughey 
            li.mg-bottom--5 Jonathan Wener 
            li.mg-bottom--5 Martin Wong 
            li.mg-bottom--5 Morag Park 
        .col-xs-offset-1.col-xs-10.col-sm-3
          ul.list-unstyled.no-mg
            li.mg-bottom--5 Roberto Bellini 
            li.mg-bottom--5 Michael Corber 
            li.mg-bottom--5 Pierre-Marc Johnson 
            li.mg-bottom--5 Claude Lamoureux 
            li.mg-bottom--5 Dominique McCaughey 
            li.mg-bottom--5 Jonathan Wener 
            li.mg-bottom--5 Martin Wong 
            li.mg-bottom--5 Morag Park 
  section.galaCommittee-section3.pre-footer.has-parallax
    .parallax-bckgrd.parallax-mg-1-5(data-invert)
