extends layout

block content
  section.gcrc-section1.bg-white
    .container
      .row
        .col-xs-offset-1.col-xs-10.col-md-8
          h2.mg-bottom The GCRC
          p.mg-bottom-2
            strong.text-large The Rosalind and Morris Cancer Research Centre at McGill University, located within McGill’s Life Sciences Complex, is a state-of-the-art hub for ground-breaking cancer research that has attracted and retained brilliant scientists from around the world. 
          a.btn.btn-green.text-uppercase Learn More
  section.gcrc-section2.bg-grey
    .container.has-parallax
      .row
        .col-xs-12.col-md-8.bg-white
          .row
            .col-md-offset-1.col-md-7.col-lg-8
              h2.mt-top-2.mg-top-5-md.mg-bottom-2 The Rosalind<br/>and Morris<br/>Cancer Research<br/>Centre at McGill<br/>University
              p.text-pink.mg-bottom
                strong
                  em Our goal is to improve our understanding of lung cancer, which in turn will lead to new therapeutic strategies and improved patient outcomes.
              p.mg-bottom Established in 1978, through a bequest from Sir Mortimer B. Davis, the McGill Cancer Centre was renamed the Rosalind and Morris Goodman Cancer Research Centre (GCRC) in 2008, in honour of the major benefactors, Rosalind and Morris Goodman.
              p.text-pink.mg-bottom
                strong
                  em Research activities at the GCRC represent the first line of offence in the fight against cancer.
              p.mg-bottom The GCRC, located within McGill’s Life Sciences Complex, is a state-of-the-art hub for ground-breaking cancer research that has attracted and retained brilliant scientists from around the world.
              p.mg-bottom-3 Our investigators focus on biomedical research and on translating these findings into new treatments and therapies that will cure or help to better manage this devastating disease.
      .photo-container.parallax-object(data-speed=2.5,data-offset=-400)
        img.img-responsive(src='/img/tiny/gcrc-researchcenter.jpg',alt='photo research center',width=540,height=440)
  section.gcrc-section3.bg-white
    .container
      .row
        .col-xs-offset-1.col-xs-10
          span.block.text-uppercase.mg-bottom The Lung Cancer Network
          h2.mg-bottom-2 The GCRC is at<br/>the heart of Montreal’s<br/>scientific research<br/>community
          a.btn.btn-green.text-uppercase.mg-bottom-3.mg-bottom-5-md Learn More
      .row
        .col-xs-offset-1.col-xs-10.col-sm-3.mg-bottom-2.no-mg-bottom-md
          img.img-responsive(src='/img/tiny/gcrc-Morag.jpg',alt='Morag Park',width=220,height=220)
          span.block.mg-top--5 Morag Park, PhD
        .col-xs-offset-1.col-xs-10.col-sm-6
          p.mg-bottom
            strong.text-large The GCRC is under the direction of
          p.mg-bottom--5
            strong.block Morag Park, PhD
            span.text-small Director, Rosalind & Morris Goodman Cancer Research Centre 
          p.mg-bottom--5
            strong.block Diane and Sal Guerrera 
            span.text-small Chair in Cancer Genetics
          p.mg-bottom-2
            strong.block James McGill
            span.text-small Professor
          p.mg-bottom-2
            strong —
          p.mg-bottom
            strong.text-large GCRC key research scientists
          p.mg-bottom--5
            strong.block Logan Walsh
            span.text-small Expert in genomic and immune changes in lung cancer and new therapeutic targets for lung cancer
          p.mg-bottom--5
            strong.block Sidong Huang
            span.text-small Expert in understanding mechanisms to overcome resistance to therapy
          p
            strong.block William Muller and David Dankort
            span.text-small Experts in novel pre-clinical animal models of lung cancer
  section.gcrc-section4.bg-grey
    .container
      .row
        .col-xs-offset-1.col-xs-10
          h2.mg-bottom-2 Our research<br/>activities
          a.btn.btn-green.text-uppercase Learn More

