extends layout

block content
  if messages.error
    .alert.alert-danger(role='alert')
      for error in messages.error
        div= error.msg
  if messages.success
    .alert.alert-success(role='alert')
      for success in messages.success
        div= success.msg
  if messages.info
    .alert.alert-info(role='alert')
      for info in messages.info
        div= info.msg

  section.home-section1.has-parallax
    .parallax-bckgrd(data-invert)
    .container.text-center
      a.btn.btn-large.btn-white-pink.text-uppercase(href="/gala/details") The Gala in details
  section.home-section2.bg-grey
    .container.has-parallax
      .row
        .col-xs-12.col-md-8.bg-white
          .row
            .col-xs-offset-1.col-xs-10.col-md-6
              h2.mg-top-3.mg-bottom A word from<br/>the Co-Chair<br/>of The<br/>GALA 2018 
              p.mg-bottom-2 Barry Pascal talk about the importance of ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur diam pellen nce of ipsum dolor sit amet, consecteturelit.
              a.btn.btn-green.text-uppercase.mg-bottom-2.mg-bottom-8-md(href='https://vimeopro.com/digitaleclipsetv/mcgill-gala-2018/video/254916935', target='_blank') Play
      .video-container.parallax-object(data-speed=2.5,data-offset=-400)
        a.center-block.btn-play(href='https://vimeopro.com/digitaleclipsetv/mcgill-gala-2018/video/254916935', target='_blank')
          span.center-block
            i.glyphicon.glyphicon-play
        img.img-responsive(src='/img/tiny/video-sample.jpg',alt='video sample',width=784,height=440)
  section.home-section3.bg-green.has-parallax
    .parallax-bckgrd(data-offset=600,data-invert)
    .green-square
    .container
      .row
        .col-xs-offset-1.col-xs-10.col-sm-offset-7.col-sm-5
            h2.no-mg-top.mg-bottom The Cause
            p.mg-bottom-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur diam pellen nce of ipsum amet, consecteturelit. Ipsum dolor sit amet, consectetur adipiscing eliconsectetur amet, consecteturel.
            a.btn.btn-white-green.text-uppercase.no-mg More Infos
  section.home-section4.bg-white
    .container.text-center
      blockquote
        span.quote-date.center-block.text-uppercase.weight-700.mg-bottom October 2018
        p.quote-text.weight-700.text-pink.no-mg-top.mg-bottom-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur diam pellentesque odio porttitor tristique.
        em.quote-author.center-block.weight-900 John Doe, Title
  section.home-section5.bg-green.has-parallax
    .parallax-bckgrd(data-offset=600,data-invert)
    .green-square
    .container
      .row
        .col-xs-offset-1.col-xs-10.col-sm-offset-0.col-sm-5
            h2.no-mg-top.mg-bottom The GCRC
            p.mg-bottom-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur diam pellen nce of ipsum amet, consecteturelit. Ipsum dolor sit amet, consectetur adipiscing eliconsectetur amet, consecteturel.
            a.btn.btn-white-green.text-uppercase.no-mg(href="/gcrc") More Infos
  include sections/sponsors
