doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/img/favicon/favicon-16x16.png")
    link(rel="manifest", href="/img/favicon/site.webmanifest")
    link(rel="mask-icon", href="/img/favicon/safari-pinned-tab.svg", color="#e23138")
    link(rel="shortcut icon", href="/img/favicon/favicon.ico")
    meta(name="msapplication-TileColor", content="#b91d47")
    meta(name="msapplication-config", content="/img/favicon/browserconfig.xml")
    meta(name="theme-color", content="#ffffff")
  body
    include includes/header
    -if (hasHero)
      include includes/hero
    -if (hasTabMenu)
      include includes/tabMenu
    block content
    include includes/footer

    script(src='/js/lib/jquery.js')
    script(src='/js/lib/bootstrap.js')
    script(src='/js/main.js')

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
