@font-face{
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
}
@font-face{
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
}
@font-face{
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: 600;
}
@font-face{
  font-family: Montserrat;
  src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: 700;
}
// Project variables
// ----------------------------
$mcgill-green : #a6ce39;
$mcgill-pink : #ec1d3c;
$mcgill-yellow : #f7b612;
$btn-height : 43px;
$btn-large-height: 63px;

// Bootstrap variables override
// ----------------------------
$body-bg: #ffffff;
$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.250)); // 20px
$font-size-small: ceil(($font-size-base * 0.875)); // 14px
$line-height-base: 1.57142857;
$link-color: #999999;
$link-hover-color:$mcgill-green;
$link-hover-decoration: none;

$brand-success: $mcgill-green;
$brand-danger: $mcgill-pink;

$font-family-sans-serif: Montserrat, Helvetica, Arial, sans-serif;
$font-family-serif: 'Playfair Display', Times, serif;
$headings-font-family: $font-family-serif;
$headings-font-weight: 900;

$alert-info-border: #31708f;
$alert-success-border: darken($brand-success, 12%);
$alert-success-text: #fff;
$alert-success-bg: $brand-success;
$alert-danger-border: $mcgill-pink;
$alert-danger-text: $mcgill-pink;
$alert-danger-bg: #ffcdd2;

$navbar-height: 100px;
$navbar-margin-bottom: 0;
$navbar-default-bg: #fff;
$navbar-default-border: transparent;
$navbar-default-color: #999999;
$navbar-default-link-color: #999999;
$navbar-default-link-hover-color: $mcgill-green;
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $mcgill-green;
$navbar-padding-horizontal: 18px;
$nav-link-padding: 0 $navbar-padding-horizontal;

$panel-heading-padding: 20px 30px;
$panel-body-padding: 30px;

$icon-font-path: '/fonts/';

@import url("//fonts.googleapis.com/css?family=Playfair+Display:900,900i");
@import "vendor/bootstrap";

$default-margin : $grid-gutter-width;


// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

footer {
  padding-top: 120px;
  padding-bottom: 70px;
  @media (min-width: $screen-lg-min) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
  .container{
    position: relative;
    .row{
      text-align: center;
      @media (min-width: $screen-md-min) {
        text-align: unset;
        display: flex;
      }
    }
  }
  .footer-shape{
    position: absolute;
    top: -120px;left: -30px;
    z-index: 0;
    @media (min-width: $screen-md-min) {
      top:-70px;left:0;
    }
}
  .footer-logo{
    display: flex;
    align-items: center;
  }
  .footer-infos{
    h4{
      font-family: $font-family-base;
      font-size: inherit;
      margin:0;
      margin-bottom: $default-margin/2;
    }
    a,p{
      display: block;
      color: $link-color;
    }
    .btn-social{
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      opacity: .3;
      transition: all 200ms;
      &:hover,
      &:focus{
        opacity: 1;
      }
    }
    .footer-links {
      a{
        transition: all 200ms;
        &:hover,
        &:focus{
          color: #000000;
        }
      }
    }
    .footer-contact{
      strong{
        margin-right: 5px;
      }
    }
  }
}

h2{
  font-size: 40px;
  line-height: 36px;
  @media (min-width: $screen-md-min) { 
    font-size: 48px;
    line-height: 40px;
  }
}

.login-container {
  max-width: 555px;
}

// Alerts
// -------------------------

.alert {
  border-width: 0 0 0 3px;
}

// Navbar
// -------------------------


.navbar-default{
  @media (max-width: $screen-xs-max) { 
    .container > .navbar-header{
      margin-left: - $grid-gutter-width/2;
      margin-right: - $grid-gutter-width/2;
      box-shadow: 0 4px 10px rgba(0,0,0,.3);
      .navbar-toggle{
        border: none;
        background: none;
        .icon-bar{
          background-color: #000000;
        }
      }
    }
  }
  .navbar-nav > li > a {
    font-size: $font-size-small;
    transition: all 0.25s;
    cursor: pointer;
    &.btn{
      @extend .btn;
      margin-top: $navbar-padding-vertical - $btn-height/4;
      margin-left: 46px;
      @media (max-width: $screen-xs-max) { 
        margin-left: 18px;
        margin-top: 0;
        height: 33px!important;
        line-height: 33px!important;
      }
    }
  }
  
  .navbar-brand{
    line-height: $navbar-height;
    padding:0 15px;
    img{
      display: inline-block;
    }
  }
}
.navbar-secondary{
  padding: 20px 0;
  @media (min-width: $screen-sm-min) { 
    padding: 40px 0;
  }
  .navbar-nav{
    float: none;
    display: inline-block;
    margin: 0;
    > li{
      > a {
        font-size: $font-size-small;
        color: #cccccc;
        padding: 9px 0;
        margin: 20px 0;
        background-color: transparent;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        transition: all 0.25s;
        @media (min-width: $screen-sm-min) { 
          padding: 18px 0;
          margin: 0 40px;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
        }
        &:hover,
        &:focus{
          color: #000000;
          border-color: #000000;
        }
      }
      &.active{
        > a{
          color: #000000;
          border-color: #000000;
        }
      }
    }
  }
}

// Panels
// -------------------------

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

// Buttons
// -------------------------

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-size: $font-size-small;
  font-weight: 600;
  border-radius: $btn-height/2;
  height: $btn-height;
  line-height: $btn-height;
  padding: 0 30px;
  transition: all 200ms;
  &:focus {
    outline: 0 !important;
  }
  &:focus,
  &:hover{
    box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    transform: scale(1.05);
  }
  &.btn-green{
    background-color: $mcgill-green;
    color: #ffffff;
  }
  &.btn-white{
    &-pink,
    &-green{
      background-color: #ffffff;
    }
    &-pink{
      color: $mcgill-pink;
    }
    &-green{
      color: $mcgill-green;
    }
  }
  &.btn-pink{
    background-color: $mcgill-pink;
    color: #ffffff;
  }
  &.btn-large{
    height: $btn-large-height;
    line-height: $btn-large-height;
    border-radius: $btn-large-height/2;
    padding: 0 54px;
  }
}
.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
  &:hover,
  &:focus {
    color: #fff;
  }
}

// Forms
// -------------------------

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: $font-size-base;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}
// Common
// -------------------------
.hero{
  padding-top: 85px;
  padding-bottom: 55px;
  *{
    position: relative;
    z-index: 1;
  }
  .hero-shape{
    position: absolute;
    top:-20px;right:0;
    max-width: 70%;
    z-index: 0;
  }
  .hero-present{
    &:before,
    &:after{
      content: '';
      display: inline-block;
      width: 140px;height: 2px;
      max-width: 20vw;
      margin: 0 10px;
      vertical-align: middle;
      background-color: #fff;
      opacity: 0.3;
    }
  }
  .hero-title{
    position: relative;
    display: inline-block;
    font-size: 83px;
    .hero-title-article{
      position: absolute;
      top:10px;left:2px;
      font-family: $font-family-base;
      font-size: 18.5px;
      @media (max-width: $screen-xs-max) { 
        left:50%;
        transform: translateX(-50%);
      }
    }
  }
}
.pre-footer{
  height: 230px;
  @media (min-width: $screen-sm-min) { 
    height: 300px;
  }
  @media (min-width: $screen-md-min) { 
    height: 330px;
  }
  @media (min-width: $screen-lg-min) { 
    height: 480px;
  }
}
.green-square{
  display: none;
  @media (min-width: $screen-sm-min) { 
    display: block;
    position: absolute!important;
    top: 150px;bottom: 150px;left: 30px;right: 30px;
    border: 15px solid $mcgill-green;
  }
  @media (min-width: $screen-md-min) { 
    top: 80px;bottom: 80px;left: 80px;right: 80px;
    border-width: 30px;
  }
}
.video-container,
.photo-container{
  position: relative;
  @media (max-width: $screen-sm-max) { 
    margin-left: -15px;
    margin-right: -15px;
    transform: none!important;
  }
  @media (min-width: $screen-md-min) { 
    position: absolute;
    top:10%;right:0;bottom: auto;
    max-width: 60%;
  }
}
.video-container{
  .btn-play {
    position: absolute;
    top:0;bottom:0;left: 0;right: 0;
    span{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 86px;height: 86px;
      line-height: 86px;
      background-color: rgba(0,0,0,0.1);
      border: 2px solid;
      border-radius: 50%;
      font-size:26px;
      color: white;
      text-align: center;
      transition: all 200ms;  
    }
    &:focus span,
    &:hover span{
      color: $mcgill-green;
      box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
    }
  } 
}
.photo-container{
  @media (max-width: $screen-sm-max) { 
    img{
      width: 100%;
      height: auto;
    }
  }
}
.over-parallax{
  position: relative;
  z-index: 1;
}
.bg{
  &-white{
    background-color: #ffffff;
    color: #000000;
  }
  &-grey{
    background-color: #e9eaf0;
  }
  &-gradient-pink{
    background-image: linear-gradient(to right, #eee809, #fdbc00, #ff8e00, #fd5c24, #ec1d3c);
    color: #ffffff;
  }
  &-green{
    background-color: $mcgill-green;
    color: #ffffff;
  }
}
.block{
  display: block;
}
.has-parallax{
  position: relative;
  overflow: hidden;
}
.parallax-bckgrd{
  position: absolute;
  top: -80px;bottom: -80px;left:0;right:0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  z-index: 0;
  @media (min-width: $screen-sm-min) { 
      top: -120px;bottom: -120px;
  }
  @media (min-width: $screen-md-min) { 
      top: -200px;bottom: -200px;
  }
  &~*{
    z-index: 1;
    position: relative;
  }
  &.parallax-mg{
    $i: 1.5;
    @while $i < 3 {
      $m: $i;
      $c: $m;
      @if (floor($i) != $i){
        $c: floor($i)+'-5';
      }
      &-#{$c}{
        top: #{-100 * .8 * $m/2}px;bottom: #{-100 * .8 * $m/2}px;
        @media (min-width: $screen-sm-min) { 
          top: #{-100 * 1.2 * $m/2}px;bottom: #{-100 * 1.2 * $m/2}px;
        }
        @media (min-width: $screen-md-min) { 
          top: #{-100 * 2 * $m/2}px;bottom: #{-100 * 2 * $m/2}px;
        }
      }
      $i: $i + .5;
    }
  }
}
.text{
  &-small{
    font-size: $font-size-small;
  }
  &-large{
    font-size: $font-size-large;
  }
  &-white{
    color: #ffffff;
  }
  &-black{
    color: #000000;
  }
  &-green{
    color: $mcgill-green;
  }
  &-pink{
    color: $mcgill-pink;
  }
  @each $a in left center right{
    &-#{$a}{
      @each $s in sm md lg{
        @media (min-width: #{"$screen-" + $s + "-min"}) {
          &-#{$s}{
            text-align: $a!important;
          }
        }
      }
    }
  }
}
.weight{
  @each $w in 500 600 700 800 900{
    &-#{$w}{
      font-weight: $w;
    }
  }
}
.mg{
  margin: $default-margin;
  @for $m from 1 to 10{
    $c : $m;
    @if ($m == 1){
      $c : '-5';
      $m : .5;
    }
    &-#{$c}{
      margin: $default-margin*$m;
      @each $s in sm md lg{
        @media (min-width: #{"$screen-" + $s + "-min"}) {
          &-#{$s}{
            margin: $default-margin*$m;
          }
        }
      }
    }
  }
  @each $s in sm md lg{
		@media (min-width: #{"$screen-" + $s + "-min"}) {
      &-#{$s}{
        margin: $default-margin!important;
      }
    }
  }
  @each $d in top bottom left right{
    &-#{$d}{
      margin-#{$d}: $default-margin;
      @each $s in sm md lg{
        @media (min-width: #{"$screen-" + $s + "-min"}) {
          &-#{$s}{
            margin-#{$d}: $default-margin!important;
          }
        }
      }
      @for $m from 1 to 10{
        $c : $m;
        @if ($m == 1){
          $c : '-5';
          $m : .5;
        }
        &-#{$c}{
          margin-#{$d}: $default-margin*$m;
          @each $s in sm md lg{
            @media (min-width: #{"$screen-" + $s + "-min"}) {
              &-#{$s}{
                margin-#{$d}: $default-margin*$m!important;
              }
            }
          }
        }
      }
    }
  }
}
.no-mg{
  margin: 0;
  @each $s in sm md lg{
    @media (min-width: #{"$screen-" + $s + "-min"}) {
      &-#{$s}{
        margin: 0!important;
      }
    }
  }
  @each $dir in top bottom left right{
    &-#{$dir}{
      margin-#{$dir}: 0;
        @each $s in sm md lg{
          @media (min-width: #{"$screen-" + $s + "-min"}) {
            &-#{$s}{
              margin-#{$dir}: 0!important;
            }
          }
        }
    }
  }  
}
.sections{
  &-sponsors{
    padding-top: 160px;
    padding-bottom: 70px;
    .logo-sponsor{
      opacity: .3;
    }
  }
}
// Section Specific
// -------------------------
.home{
  &-section1{
    padding-top: 50px;
    padding-bottom: 150px;
    @media (min-width: $screen-sm-min) { 
      padding-top: 85px;
      padding-bottom: 250px;
    }
    @media (min-width: $screen-md-min) { 
      padding-bottom: 350px;
    }
    .parallax-bckgrd{
      background-image: url('/img/tiny/home-section1-bg.jpg');
    }
  }
  &-section2{
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 130px;
    }
  }
  &-section3{
    padding-top: 100px;
    padding-bottom: 190px;
    @media (min-width: $screen-md-min) { 
      padding-top: 190px;
      padding-bottom: 190px;
    }
    .parallax-bckgrd{
      background-image: url('/img/tiny/home-section3.jpg');
      @media (min-width: $screen-sm-min) { 
        right: 50%;
      }
      @media (max-width: $screen-sm-max) { 
        top: calc(50% - 80px);
      }
    }
    .green-square{
      @media (min-width: $screen-sm-min) { 
        right: calc(50% + 30px);
      }
      @media (min-width: $screen-md-min) { 
        right: calc(50% + 80px);
      }
    }
  }
  &-section4{
    padding-top: 100px;
    padding-bottom: 100px;
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 150px;
    }
    blockquote{
      font-size: inherit;
      margin:0;
      padding:0;
      border:none;
      &:before{
        content: '“';
        display: inline-block;
        font-family: $font-family-base;
        font-size: 48px;
        font-weight: 700;
        color: $mcgill-yellow;
        line-height: 1;
        margin-bottom: $default-margin;
      }
      .quote-text{
        font-size: 40px;
        line-height: 1;
      }
      .quote-author{
        font-family: $font-family-serif;
      }
    }
  }
  &-section5{
    padding-top: 100px;
    padding-bottom: 190px;
    @media (min-width: $screen-md-min) { 
      padding-top: 190px;
      padding-bottom: 190px;
    }
    .parallax-bckgrd{
      background-image: url('/img/tiny/home-section5.jpg');
      @media (min-width: $screen-sm-min) { 
        left: 50%;
      }
      @media (max-width: $screen-sm-max) { 
        top: calc(50% - 80px);
      }
    }
    .green-square{
      @media (min-width: $screen-sm-min) { 
        left: calc(50% + 30px);
      }
      @media (min-width: $screen-md-min) { 
        left: calc(50% + 80px);
      }
    }
  }
}
.galaDetails{
  &-section1{
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  &-section2{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  &-section3{
    .parallax-bckgrd{
      background-image:  url('/img/tiny/galaDetails-section3-bg.jpg');
      @media (max-width: $screen-sm-max) { 
        background-position-x: calc(50% + -190px);
      }
    }
  }
}
.galaCommittee{
  &-section1{
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  &-section2{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 150px;
    }
  }
  &-section3{
    .parallax-bckgrd{
      background-image:  url('/img/tiny/galaCommittee-section3-bg.jpg');
    }
  }
}
.galaSponsors{
  &-section2{
    .parallax-bckgrd{
      background-image:  url('/img/tiny/galaSponsors-section2-bg.jpg');
    }
  }
}
.gcrc{
  &-section1{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 140px;
      padding-bottom: 100px;
    }
  }
  &-section2{
    @media (min-width: $screen-md-min) { 
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &-section3{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 150px;
      padding-bottom: 120px;
    }
  }
  &-section4{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
}
.focus{
  &-section1{
    .parallax-bckgrd{
      background-image:  url('/img/tiny/focus-section1-bg.jpg');
    }
  }
  &-section2{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &-section3{
    @media (min-width: $screen-md-min) { 
      padding-top: 160px;
      padding-bottom: 160px;
    }
  }
  &-section4{
    padding-top: 80px;
    padding-bottom: 80px;
    @media (min-width: $screen-md-min) { 
      padding-top: 130px;
      padding-bottom: 160px;
    }
  }
}